asgiref==3.2.5
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
coverage==5.1
dj-database-url==0.5.0
Django==2.2
django-qr-code==1.1.0
get==2019.4.13
gunicorn==20.0.4
idna==2.9
mysqlclient==1.4.6
post==2019.4.13
psycopg2-binary==2.8.5
public==2019.4.13
pytz==2019.3
qrcode==6.1
query-string==2019.4.13
requests==2.23.0
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
